* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
}
.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px
}

.logotype{
  margin-right: 56px;
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
}
.logotype span{
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2E2F42;
}
.header{
  padding: 24px 0;
  border-bottom: 1px solid #E7E9FC;
}
.header .header-inner{
  display: flex;
  align-items: center;
}
.header .header-menu{
  display: flex;
}
.header .header-menu li{
  margin: 0 20px;
  list-style-type: none; 
}
.header .header-menu a{
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2E2F42;
  transition: all 0.3s ease;
}
.header .header-menu a:hover{
  color: #404BBF;
}
.header .header-social{
  margin-left: auto;
}
.header .header-social a{
  text-decoration: none;
  margin: 0 20px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.header .header-social a:last-child{
  margin-right: 0;
}

.banner{
  padding: 184px 0;
  text-align: center;
  background: #2E2F42;
}
.banner h2{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.banner a{
  display: block;
  width: 100%;
  max-width: 169px;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 0;
  margin: 0 auto;
  margin-top: 48px;
}

.info{
  padding-top: 120px;
}
.info .info-inner{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.info .info-block{
  width: 100%;
  max-width: 264px;
}
.info .info-block h2{
  margin-bottom: 8px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.info .info-block p{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-h2{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
  margin-bottom: 72px;
}

.doing{
  padding: 120px 0;
}
.doing .doing-photo{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team{
  padding: 120px 0;
  background: #F4F4FD;
}
.team .team-human{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team .human-info{
  background: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 32px;
}
.team .human-info h3{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}
.team .human-info p{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.team .human-name{
  text-align: center;
  margin-top: 32px;
}

.footer{
  padding: 100px 0;
  background: #2E2F42;
}
.footer .logotype span{
  color: #F4F4FD;
}
.footer h2{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #E7E9FC;
  width: 100%;
  max-width: 264px;
  margin-top: 16px;
}


      /*portfolio*/

.portfolio{
  padding: 96px 0 120px;
}
.portfolio .portfolio-menu{
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: center;
}
.portfolio .portfolio-menu li{
  margin: 0 12px;
  padding: 12px 0px;
}
.portfolio .portfolio-menu a{
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #4D5AE5;

  background: #F4F4FD;
  padding: 12px 24px;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.portfolio .portfolio-menu a:hover{
  background: #404BBF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #FFF;
  border: 1px solid transparent;
}
.portfolio .portfolio-menu .portfolio-menu-active{
  background: #404BBF;
  color: #FFF;
  border: 1px solid transparent;
}
.portfolio .portfolio-item{
  margin-top: 72px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;

}
.portfolio .portfolio-item li{
  padding-bottom: 32px;
  background: #FFFFFF;
  border: 1px solid #E7E9FC;
}
.portfolio .portfolio-item a{
  text-decoration: none;
}
.portfolio .portfolio-item h2{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin: 32px 0 8px;
  margin-left: 16px;
}
.portfolio .portfolio-item p{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: 16px;
}